/* Add these styles to your existing CSS or create a new file, e.g., Footer.css */

#footer {
    position: flex;
    margin-top: 80px;
    width: 100%;
    height: 180px; /* Increased height to accommodate social icons */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .social-links {
    width: 100%;
  }
  .allrights{
    width: 100%;
  }
  .onlysocial-link{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 20px;
   
  }
  .social-links a {
    margin: 0 10px;
  }
  
  .social-links img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  .social-links img:hover {
    transform: scale(1.2);
  }
  
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
 
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
#logoo {
 justify-content: left;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Media query for responsive design */
@media screen and (max-width: 768px) {
  #footer{
    flex-direction: column;

    
  }
  .onlysocial-link{
    justify-content: center;
  }
  
}