/* HeaderComponent.css */

.modern-header {
  background-color: #0F1035; /* Header background color */
  color: #ecf0f1; /* Text color */
  padding: 10px 0; /* Adjust top and bottom padding */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.logo img {
  width: 140px; /* Adjust logo width */
  height: auto;
}

.nav-links ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px; /* Adjust spacing between navigation links */
  text-decoration: none;
  color: #ecf0f1; /* Link color */
  font-weight: bold;
  transition: color 0.3s;
}


.nav-links li:hover {
  /* Hover color */
  cursor: pointer;
  color: #3498db;
}
/* Hide the checkbox */
.menu-toggle {
  display: none;
}

/* Style for the hamburger menu icon */
.menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none; /* Initially hide the menu icon */
}

/* Media query for responsive design */
@media screen and (max-width: 768px) {
  .container {
      flex-direction: column;
      height: auto;
     
  }

  .nav-links {
      display: none;
      width: 100%;
      justify-content: center;
      
  }

  .menu-icon {
      display: block;
  }

  /* Style for the dropdown menu */
  .nav-links.active {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .nav-links ul {
      flex-direction: column;
  }
  .nav-links li {
    margin-right: 0%;
   
  }
  .nav-item {
      margin: 10px 0; /* Adjust spacing between dropdown items */
  }

  /* Styling for checkbox hack (to make the dropdown work with pure CSS) */
  #menu-toggle:checked + .menu-icon {
      color: #3498db; /* Change color when menu is open */
      
    }

  #menu-toggle:checked ~ .nav-links {
      display: flex;
  }
  
 
}

