/* HeaderComponent.css */

.modern-header {
  background-color: #A6B1E1; /* Header background color */
  color: #ecf0f1; /* Text color */
  padding: 10px 0; /* Adjust top and bottom padding */
  border-radius: 5px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.logo1 img {
  width: 120px; /* Adjust logo width */
  height: auto;
 
}
.logo1 img:hover{
  cursor: pointer;
}

.nav-linkscustom ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-linkscustom li {
  margin-right: 20px; /* Adjust spacing between navigation links */
  text-decoration: none;
  color: #424874; /* Link color */
  font-weight: bold;

}

.nav-linkscustom li:hover {
  /* Hover color */
  cursor: pointer;
  color: #F4EEFF;
}
/* Hide the checkbox */
.menu-toggle {
  display: none;
}

/* Style for the hamburger menu icon */
.menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none; /* Initially hide the menu icon */
}

/* Media query for responsive design */
@media screen and (max-width: 768px) {
  .container {
      flex-direction: column;
      height: auto;
      text-align: center;
     
  }

  .nav-linkscustom {
      display: none;
      width: 100%;
      justify-content: center;
      
  }

  .menu-icon {
      display: block;
  }

  /* Style for the dropdown menu */
  .nav-linkscustom.active {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .nav-linkscustom ul {
      flex-direction: column;
  }
  .nav-linkscustom li {
    margin-right: 0%;
   
  }
  .nav-itemcustom {
      margin: 10px 0; /* Adjust spacing between dropdown items */
  }

  /* Styling for checkbox hack (to make the dropdown work with pure CSS) */
  #menu-toggle:checked + .menu-icon {
      color: #3498db; /* Change color when menu is open */
      
    }

  #menu-toggle:checked ~ .nav-linkscustom {
      display: flex;
  }
  
 
}

